@model TraiNghiemSangTao.Models.DTO.ManagerSocialLifeSkillOneViewModel
@{
    ViewBag.Title = "SocialLifeSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center text-primary">DANH SÁCH KỸ NĂNG XÃ HỘI</h3>
<form class="form-inline text-center">

    <div class="form-group">
        <label for="exampleInputName2">Từ</label>
        <input type="text" class="form-control datepicker" id="dateFrom" value="@Model.DateFrom.Day.ToString("d2")-@Model.DateFrom.Month.ToString("d2")-@Model.DateFrom.Year">
    </div>
    <div class="form-group">
        <label for="exampleInputName2">Đến</label>
        <input type="text" class="form-control datepicker" id="dateTo" value="@Model.DateTo.Day.ToString("d2")-@Model.DateTo.Month.ToString("d2")-@Model.DateTo.Year">
    </div>
    <button type="button" class="btn btn-success" onclick="getDateDetail();">TÌM KIẾM</button>
</form>
<p><button class="btn btn-primary" onclick="downloadExcel();"><span class="glyphicon glyphicon-download-alt"></span>  XUẤT EXCEL</button></p>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên trường</th>
                        <th>Lớp</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Tên người phụ trách</th>
                        <th>Số điện thoại</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = 1;
                        foreach (var item in Model.SocialLifeSkills)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@item.School.Name</td>
                                <td>@item.ClassId</td>
                                <td>@item.DateFrom.Value.Day/@item.DateFrom.Value.Month/@item.DateFrom.Value.Year</td>
                                <td>@item.DateTo.Value.Day/@item.DateTo.Value.Month/@item.DateTo.Value.Year</td>
                                <td>@item.Creatot</td>
                                <td>@item.PhoneNumber</td>
                                <td><button type="button" value="@item.Id" onclick="viewDetail(this);" class="btn btn-success btn-sm" data-toggle="modal" data-target=".bs-example-modal-sm">CHI TIẾT</button></td>
                            </tr>
                            index++;
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Chi tiết
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tên trường</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="schoolName"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Lớp</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="class"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ngày bắt đầu</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="dateGo"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ngày kết thúc</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="dateEnd"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nội dung thực hiện hoạt động</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="activityName"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tóm tắt nội dung</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="tomtatnoidung"></p>
                            </div>
                        </div>
                       
                       
                        <div class="form-group">
                            <label class="col-sm-3 control-label">File fế hoach</label>
                            <div class="col-sm-9">
                                <p class="form-control-static"><a onclick="downloadPDF(this);" id="filekehoach"></a></p>
                            </div>
                        </div>
                                              
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tên người phụ trách</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="teacherName"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Chức vụ</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="jobTitle"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Số điện thoại</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="phoneNumber"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" id="email"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <p class="text-left">
                                <span class="text-left"><button class="btn btn-danger">XÓA</button></span>
                            </p>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <p class="text-right">
                                <span class="text-right"><button type="button" class="btn btn-primary" onclick="closeModal();">ĐÓNG</button></span>
                            </p>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $('.datepicker').datepicker(
        {
            format: 'dd-mm-yyyy',
            autoclose: true,
        }
    );
    function viewDetail(data) {
        $.get('/quanly/chitietkynangsong/' + data.value, function (data, status) {
            var registration = JSON.parse(data);           
            $('#schoolName').text(registration.School.Name);
            $('#class').text(registration.Class.Name);
            $('#dateGo').text(moment(registration.DateFrom, 'YYYY/MM/DD').format('DD/MM/YYYY'));
            $('#dateEnd').text(moment(registration.DateTo, 'YYYY/MM/DD').format('DD/MM/YYYY'));
            $('#activityName').text(registration.ProgramName); 
            $('#tomtatnoidung').text(registration.SumaryContent);                
            $('#filekehoach').text(registration.FileKeHoach);           
            $('#teacherName').text(registration.Creatot);
            $('#jobTitle').text(registration.Jobtitle.Name);
            $('#phoneNumber').text(registration.PhoneNumber);
            $('#email').text(registration.Email);
           

        })
    }
    function closeModal() {
        $('#modal').modal('toggle');
    }
    function getDateDetail() {
        var dateFrom = moment($('#dateFrom').val(), 'DD-MM-YYYY').format('YYYY-MM-DD');
        var dateTo = moment($('#dateTo').val(), 'DD-MM-YYYY').format('YYYY-MM-DD');
        window.location.replace('/quanly/kynangsong/' + dateFrom + '/' + dateTo);
    }
    function downloadPDF(data) {
        var fileName = data.text.split('.').shift();
            window.location.href = '@System.Configuration.ConfigurationManager.AppSettings["BASE_URL"]/quanly/downloadPDFKynangsong/' + fileName;
    }
    function downloadExcel() {
        window.location.href = '@System.Configuration.ConfigurationManager.AppSettings["BASE_URL"]/quanly/xuatexcelnoidungkhac/' + moment($('#dateFrom').val(), 'DD-MM-YYYY').format('YYYY-MM-DD') + '/' + moment($('#dateTo').val(), 'DD-MM-YYYY').format('YYYY-MM-DD');

        }
</script>


